////////////////////////////////////////////
// Variables
////////////////////////////////////////////
$teal: #66cccb; /* rgb(102, 204, 203) */
$drkTeal: #5bb2b0;
$brown: #472815;
$black: #000000;
$white: #ffffff;
$grey: #eaeaea;
$bgGrey: #fcfcfc;
$font: #595959;